header.banner{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: white;
    background-image: url("../Bootstrap/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
header.banner .banner-subheading{
 
    font-size: 1.5rem;

    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family:  "Montserrat",sans-serif ;    
}
header.banner .banner-heading{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat",sans-serif ;
}
header.banner .btn{
    background-color: #94770d;
    border: none;
    font-weight: 500;

}
@media (min-width:768px){
    header.banner{
        padding-top: 17rem;
        padding-bottom:12.5rem;
        color:#94770d ;
        
    }
    header.banner .banner-subheading{
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }
    header.banner .banner-heading{
        max-width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

 
}